@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        background-color: #fffee6;
        --background: 58 100% 95%;
        --foreground: 58 5% 0%;
        --card: 58 50% 90%;
        --card-foreground: 58 5% 10%;
        --popover: 58 100% 95%;
        --popover-foreground: 58 100% 0%;
        --primary: 58 36.6% 35.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 58 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 20 30% 85%;
        --muted-foreground: 58 5% 35%;
        --accent: 20 30% 80%;
        --accent-foreground: 58 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 58 5% 90%;
        --border: 58 30% 50%;
        --input: 58 30% 18%;
        --ring: 58 36.6% 35.9%;
        --radius: 0rem;
    }
    .dark {
        background-color: #26250d;
        --background: 58 50% 5%;
        --foreground: 58 5% 90%;
        --card: 58 50% 0%;
        --card-foreground: 58 5% 90%;
        --popover: 58 50% 5%;
        --popover-foreground: 58 5% 90%;
        --primary: 58 36.6% 35.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 58 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 20 30% 15%;
        --muted-foreground: 58 5% 60%;
        --accent: 20 30% 15%;
        --accent-foreground: 58 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 58 5% 90%;
        --border: 58 30% 18%;
        --input: 58 30% 18%;
        --ring: 58 36.6% 35.9%;
        --radius: 0rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        font-family: 'Cardo', sans-serif;
        /*@apply bg-background text-foreground;*/
    }
}
